.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.tabs { width: 100%; padding-top: 15px; margin: 0 auto; }
.tabs>input[type=radio] { display: none; }
.tabs>div {
    /*display: none;*/
    padding: 12px;
    /* border: 1px solid #C0C0C0; */
    background: #FFFFFF;
}
.tabs>label {
    display: inline-block;
    padding: 7px;
    margin: -15px -15px -1px 0;
    text-align: center;
    color: #666666;
    border: 1px solid #C0C0C0;
    background: #E0E0E0;
    cursor: pointer;
}
.tabs>.active_label {
    color: #000000;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #FFFFFF;
    background: #FFFFFF;
}
/*#tab_1:checked ~ #txt_1,*/
/*#tab_2:checked ~ #txt_2 { display: block; }*/
/*#tab_3:checked ~ #txt_3,*/
/*#tab_4:checked ~ #txt_4,*/
/*#tab_5:checked ~ #txt_5 { display: block; }*/
/*#tab_6:checked ~ #txt_6,*/
/*#tab_7:checked ~ #txt_7 { display: block; }*/


.d1{
  position: relative; /* Относительное позиционирование */
  top: 82px; /* Расстояние от верхнего края */
  left: 170px; /* Расстояние от левого края */
  right: 0;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin:50px 50px 50px 50px;

}
.liniya {
  border-bottom: 2px solid;
}
.App-link {
  color: #61dafb;
}

.sidebar, .content { position: absolute; }
.sidebar2, .content2 { position: absolute; }
.sidebar, .content { overflow: auto; padding: 10px; }
.sidebar2, .content2 { overflow: auto; padding: 10px; }
.sidebar3, .content3 {
  overflow: auto;
  padding: 10px;
  position: absolute;
}
.header {
 text-align: right;
 padding-right: 10px;
 /* height: 80px; */
 /* background: #e9e9e9; */
 /* border-bottom: 2px solid; */
}
.header h1 { padding: 20px; margin: 0; }

.sidebar {
 overflow: scroll;
 width: 200px;
 /* background: #e9e9e9; */
 border-right: 1px solid #231F20;
 top: 82px;
 bottom: 0;
}
.content {
 top: 58px;
 left: 220px;
 bottom: 0; right: 0;
}
.sidebar2 {
 /* background: #e9e9e9; */
 overflow: scroll;
 top: 82px;
 left: 1104px;
 width: 240px;
 border-left: 2px solid #231F20;
 /* top: 82px; */
 bottom: 249px;
}
.content2 {
 top: 82px;
}

.norm_text:disabled {
color: #000;
}
.norm_text{
height: 16px;
width: 120px;
resize: none;
}
.sidebar3 {
  top: 375px;
  left: 1104px;
  width: 240px;
  border-left: 2px solid #231F20;
  border-top: 2px solid #231F20;
  /* top: 82px; */
  bottom: 0;
  text-align: left;
}
.content3 {
 top: 400px;
}

.shrift{
  font-family: "Comic Sans MS";
  /* font-family: "Comic Sans MS"; */
  /* font-size: 50px; */
}