.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.d1{
  position: relative; /* Относительное позиционирование */
  top: 82px; /* Расстояние от верхнего края */
  left: 170px; /* Расстояние от левого края */
  right: 0;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin:50px 50px 50px 50px;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar, .content { position: absolute; }
.sidebar, .content { overflow: auto; padding: 10px; }
.header {
 height: 80px; /* Высота слоя */
 background: #FEFFFF; border-bottom: 2px solid #7B5427;
}
.header h1 { padding: 20px; margin: 0; }
.sidebar {
 width: 150px; background: #FFFFFF; border-right: 1px solid #231F20;
 top: 82px; /* Расстояние от верхнего края */
 bottom: 0; /* Расстояние снизу  */
}
.content {
 top: 82px; /* Расстояние от верхнего края */
 left: 170px; /* Расстояние от левого края */
 bottom: 0; right: 0;
}

.shrift{
  font-family: "Comic Sans MS";
  /* font-size: 50px; */
}
